<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que procuras?"
        autofocus
        [(ngModel)]="filterSearch"
        (keyup)="searchThoughts()"
      />
      <img src="../../../../assets/imagens/lupa.png" alt="Lupa azul" />
    </div>
    <h1 class="ff-inter">Meu mural</h1>
    <h4 class="ff-inter">Be respectful! Collaborate with useful sentences. Add good things that can inspire others</h4>
    <h4 class="ff-inter">Seja respeitoso! Colabore com frases úteis. Adicione coisas boas que podem inspirar outras pessoas</h4>
    <div *ngIf="filterSearch.length >= 2">
      <h2 class="ff-inte r">Resultados da pesquisa: {{ filterSearch }}</h2>
    </div>
    <div class="botoes">
      <button class="botao" (click)="reloadList()">Meu mural</button>
      <button class="botao" (click)="listFavoritesSentences()">
        Meus Favoritos
      </button>
      <button routerLink="/create-thought" class="botao">
        Novo pensamento
      </button>
    </div>
  </header>
  <!-- Fazendo um IF ELSE no angular -->
  <div class="mural" *ngIf="listThought.length > 0; else semPensamentos">
    <div *ngFor="let thought of listThought">
      <app-thought
        [pensamento]="thought"
        [listFavorites]="listFavoriteToChildComponent"
      >
      </app-thought>
    </div>
  </div>
</section>
<app-button-load
  [carregarMaisPensamentosButton]="carregarMaisPensamentosList"
  (click)="loadMoreThoughts()"
>
</app-button-load>
<!-- <ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"> -->
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>
