<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br />pensamento novo:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Pensamento</label>
    <!-- Associando os dados com o arquivo TS
    MÉTODO DE ASSOCIAÇÃO  Property Bind
      - Colocar o valor dinâmico em colchetes
    - Criar objeto lá no TS, e definir as chaves e valores
--One way data biding  [value]="pensamento.conteudo"
    -->
    <!-- Preciso importar o FormsModule no app.module.ts para que o ngModule funciona no input abaixo-->
    <input
      class="input"
      id="pensamento"
      type="textarea"
      formControlName="conteudo"
      placeholder="Digite seu pensamento"
    />
    <!-- Abaixo: Se o campo tiver algum erro e esse campo foi tocado -->
    <div
      class="mensagem__erro"
      *ngIf="form.get('conteudo')?.errors && form.get('conteudo')?.touched"
    >
      O pensamento é obrigatória
    </div>
    <!-- ngModel, name foi quando havia uma vinculação biderecional sem o formulario reativo -->
    <!-- [(ngModel)]="pensamentoFeito.conteudo" -->
    <!-- name="pensamento" -->
    <label for="autoria">Autoria</label>
    <input
      class="input"
      id="autoria"
      type="text"
      formControlName="autoria"
      placeholder="Digite a autoria ou fonte"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['required'] && form.get('autoria')?.touched"
    >
      A autoria é obrigatória
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['minlength']  && form.get('autoria')?.touched"
    >
      A autoria precisa de ter mais de 3 caracteres
    </div>
    <!-- [(ngModel)]="pensamentoFeito.autoria" -->
    <label for="modelo1">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            formControlName="modelo"
          />
          <!-- [(ngModel)]="pensamentoFeito.modelo" -->
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis" />
          <!-- Passando valores por Property Bind, sendo interpolação -->
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
          <!-- Maneira de pegar por property bind, sem o formulario reativo -->
          <!-- <p class="conteudo">{{ pensamentoFeito.conteudo }}</p> -->
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            formControlName="modelo"
          />
          <!-- [(ngModel)]="pensamentoFeito.modelo" -->
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            formControlName="modelo"
          />
          <!-- [(ngModel)]="pensamentoFeito.modelo" -->
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo3.png"
            alt="Aspas verdes"
          />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <!-- Event bind. Outro tipo de data bind unirecional, porém a direção é dp template para o componente  -->
      <!-- Caso eu queira colocar uma classe no botão atual da rota, eu coloco tal propriedade na tag, e o nome  da classe que quero adicionar caso o botão esteja tivo -->
      <!-- routerLinkActive="active" -->
      <button (click)="criarPensamento()" [disabled]="!form.valid" [ngClass]="habilitarBotao()">
        Salvar
      </button>
      <!-- Caso  eu queira redirecionar assim que for clicado, logo aqui no HTML -->
      <!-- routerLink="/list-thought" -->
      <button (click)="cancelandoPensamento()" class="botao cancelar">
        Cancelar
      </button>
    </div>
  </form>
</section>
